@import "../../../../assets/css/variables";
.wrapper{
  float: left;
  width: 100%;
  background: #edf1f7;
  padding: 2.25rem 2.25rem .75rem;
  @media (max-width: 991px){
    padding: 2.25rem 0rem .75rem;
  }
  .wrapper-content{
    .web-view{
      .main-view{
        ol{
          &.steps{
            //display: flex;
            min-height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
            list-style-type: none;
            counter-reset: my-awesome-counter;
            li {
              padding-left: 60px;
              position: relative;
              padding-bottom: 15px;
              counter-increment: my-awesome-counter;
              &::before{
                content: counter(my-awesome-counter);
                height: 50px;
                width: 50px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 0;
                background: #dcdfe6;
                z-index: 2;
              }
              &::after{
                content: '';
                width: 50px;
                height: 100%;
                border-left: 2px solid rgba($dark-black, .1);
                position: absolute;
                left: 23px;
                top: 0;
                z-index: 1;
              }
              .item{
                flex: 1;
                padding: 20px;
                background: $white;
                cursor: pointer;
                transition: all .5s ease;
                .section-title {
                  width: 100%;
                  margin: 0;
                  padding: 0;
                  font-weight: 600;
                  h4 {
                    margin: 0;
                    white-space: nowrap;
                    font-size: 1.2rem;
                    font-weight: 600;
                  }
                  p{
                    color: $gray;
                    margin-bottom: 0;
                  }
                  .head{
                    button{
                      padding: 10px 18px;
                      background: $purple;
                      border-color: $purple;
                      color: $white;
                    }
                  }
                }
                .section-content {
                  flex: 1;
                  align-items: center;
                  margin: 0;
                  margin-top: 2rem;
                  padding: 0;
                  transition: all .25s .1s ease-out;
                  height: auto;
                  overflow: hidden;
                  max-height: 0; /* approximate max height */
                  @import "../../../../assets/css/variables";
                  
                  .have-details{
                    border: 1px solid $border-color;
                    padding: 1rem;
                    margin-bottom: 10px;
                    width: 49%;
                    transition: all ease-in-out .3s;
                    position: relative;
                    &:hover{
                      box-shadow: 0 2px 8px #d4d5d9;
                    }
                    span{
                      h6{
                        a{
                          color: $dark-black;
                          font-weight: 400;
                        }
                      }
                    }
                    &.home{
                      span{
                        h6{
                          color: $orange;
                        }
                      }
                      p{
                        .heading{
                          color: $orange;
                        }
                      }
                    }
                    &.office{
                      span{
                        h6{
                          color: $green;
                        }
                      }
                      p{
                        .heading{
                          color: $green;
                        }
                      }
                    }
                    &.other{
                      span{
                        h6{
                          color: $purple;
                        }
                      }
                      p{
                        .heading{
                          color: $purple;
                        }
                      }
                    }
                    span{
                      h6{
                        font-size: .9rem;
                      }
                    }
                    nb-icon{
                      font-size: 28px;
                    }
                    p{
                      margin-bottom: 0;
                      color: $gray;
                      font-size: 12px;
                      .heading{
                        font-weight: 600;
                        font-size: 1rem;
                      }
                    }
                  }
                }
              }
              &.active {
                flex: 5;
                cursor: default;
                &::before{
                  background: $purple;
                  color: $white;
                }
                &::after{
                  border-color: $purple;
                }
                .item{
                  h4 {
                    color: $purple;
                  }
                  .section-content {
                    flex: 4;
                    max-height: 100%;
                  }
                }
              }
              &:last-child{
                &::after{
                  display: none;
                }
              }
            }
          }
        }
      }
      .cart-view{
        .added-items{
          .item{
            h6{
              font-size: 14px;
              font-weight: 600;
            }
           
          }
        }
        .similar-items{
          margin-bottom: 15px;
          .item{
            border: 1px solid $border-color;
            .btn{
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
        .add-tip{
          background: #F1EEF7;
          padding: 1rem;
          margin-bottom: 10px;
          ul.ks-cboxtags {
            list-style: none;
            padding: 0px;
            li {
              display: inline-block;
              margin-right: 5px;
              label {
                display: inline-block;
                border: 1px dashed $purple;
                color: $purple;
                border-radius: 25px;
                white-space: nowrap;
                margin: 3px 0px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                transition: all .2s;
                cursor: pointer;
                width: 100%;
                text-align: center;
                font-size: 12px;
                padding: 0 10px;
                &::before {
                  display: inline-block;
                  font-style: normal;
                  font-variant: normal;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  font-family: "FontAwesome";
                  font-weight: 900;
                  font-size: 12px;
                  padding: 2px 6px 2px 2px;
                  content: "\f067";
                  transition: transform .3s ease-in-out;
                }
              }
              input[type="checkbox"]:checked + label::before {
                content: "\f00c";
                transform: rotate(-360deg);
                transition: transform .3s ease-in-out;
              }
              input[type="checkbox"]:checked + label {
                border: 2px dashed $purple;
                background-color: $purple;
                color: #fff;
                transition: all .2s;
              }
              input[type="checkbox"] {
                position: absolute;
                opacity: 0;
              }
              input[type="checkbox"]:focus + label {
                border: 2px dashed $purple;
              }

              input[type="radio"]:checked + label::before {
                content: "\f00c";
                transform: rotate(-360deg);
                transition: transform .3s ease-in-out;
              }
              input[type="radio"]:checked + label {
                border: 2px dashed $purple;
                background-color: $purple;
                color: #fff;
                transition: all .2s;
              }
              input[type="radio"] {
                position: absolute;
                opacity: 0;
              }
              input[type="radio"]:focus + label {
                border: 2px dashed $purple;
              }
            }
            &.ks-size{
              li{
                label{
                  border-color: $orange;
                  color: $orange;
                }
                input[type="checkbox"]:checked + label{
                  border-color: $orange;
                  background-color: $orange;
                }
                input[type="checkbox"]:focus + label{
                  border-color: $orange;
                }


                input[type="radio"]:checked + label{
                  border-color: $orange;
                  background-color: $orange;
                }
                input[type="radio"]:focus + label{
                  border-color: $orange;
                }
              }
            }
          }
        }
        .coupon{
          width: 100%;
          display: flex;
          align-items: center;
          min-height: 70px;
          padding: 1rem;
          border: 1px dashed $border-color;
          font-size: 18px;
        }
        .bill-details{
          ul{
            list-style: none;
            padding: 0;
            li{
              display: flex;
              align-items: center;
              justify-content: space-between;
              p{
                margin-bottom: 0;
                color: $gray;
                font-size: 12px;
              }
              // &:nth-child(6){
              //   border-top: 1px solid $border-color;
              //   margin-top: 10px;
              //   padding-top: 10px;
              //   p{
              //     color: $dark-black;
              //     font-weight: 600;
              //     font-size: 1rem;
              //   }
              // }
              &.grandTotal{
                border-top: 1px solid $border-color;
                margin-top: 10px;
                padding-top: 10px;
                p{
                  color: $dark-black;
                  font-weight: 600;
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
    .mobile-view{
      font-weight: 500;
      .brand-info{
        p{
          color: #B7AEC3;
        }
        
      }

      .item-view{
        p{
          font-size: 11px;
          font-weight: 500;
        }
        .added-item{
          .left{
            span{
              margin-bottom: 0;
              &.badge-outline-warning{
                border: 1px solid #F9CC5D;
                color: $gray;
                font-size: 11px;
                padding: 6px 10px;
                border-radius: 14px;
              }
            }
          }
        }
      }
      .special-instructions{
        position: relative;
        padding-left: 20px;
        figure{
          position: absolute;
          top: 12px;
          left: 0;
        }
      }
      .similar-items{
        .swiper-wrapper{
          padding-bottom: 15px;
          @media (max-width: 767px){
            padding-bottom: 0px;
          }
          .item{
            background: $white;
          }
        }
      }
      .add-tip{
        background: #F1EEF7;
        @media (max-width: 767px){
          background: #fff;
        }
        padding: 1rem;
        margin-bottom: 10px;
        ul.ks-cboxtags {
          list-style: none;
          padding: 0px;
          li {
            display: inline-block;
            margin-right: 5px;
            label {
              display: inline-block;
              border: 1px dashed $purple;
              color: $purple;
              border-radius: 25px;
              white-space: nowrap;
              margin: 3px 0px;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              -webkit-tap-highlight-color: transparent;
              transition: all .2s;
              //padding: 8px 12px;
              cursor: pointer;
              width: 100%;
              text-align: center;
              font-size: 12px;
              padding: 0px 8px;
              &::before {
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "FontAwesome";
                font-weight: 900;
                font-size: 11px;
                padding: 2px 4px 2px 1px;
                content: "\f067";
                transition: transform .3s ease-in-out;
              }
            }
            input[type="checkbox"]:checked + label::before {
              content: "\f00c";
              transform: rotate(-360deg);
              transition: transform .3s ease-in-out;
            }
            input[type="checkbox"]:checked + label {
              border: 2px dashed $purple;
              background-color: $purple;
              color: #fff;
              transition: all .2s;
            }
            input[type="checkbox"] {
              position: absolute;
              opacity: 0;
            }
            input[type="checkbox"]:focus + label {
              border: 2px dashed $purple;
            }



            input[type="radio"]:checked + label::before {
              content: "\f00c";
              transform: rotate(-360deg);
              transition: transform .3s ease-in-out;
            }
            input[type="radio"]:checked + label {
              border: 2px dashed $purple;
              background-color: $purple;
              color: #fff;
              transition: all .2s;
            }
            input[type="radio"] {
              position: absolute;
              opacity: 0;
            }
            input[type="radio"]:focus + label {
              border: 2px dashed $purple;
            }
          }
          &.ks-size{
            li{
              label{
                border-color: $orange;
                color: $orange;
              }
              input[type="checkbox"]:checked + label{
                border-color: $orange;
                background-color: $orange;
              }
              input[type="checkbox"]:focus + label{
                border-color: $orange;
              }


              input[type="radio"]:checked + label{
                border-color: $orange;
                background-color: $orange;
              }
              input[type="radio"]:focus + label{
                border-color: $orange;
              }
            }
          }
        }
      }
      .coupon{
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 50px;
        padding: 1rem;
        border: 1px dashed $green;
        background: rgba($green, .1);
        font-size: 18px;
        color: $green;
      }
      .bill-details{
        ul{
          list-style: none;
          padding: 0;
          li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
              margin-bottom: 0;
              color: $gray;
              font-size: 12px;
            }
            // &:nth-child(6){
            //   border-top: 1px solid $border-color;
            //   margin-top: 10px;
            //   padding-top: 10px;
            //   p{
            //     color: $dark-black;
            //     font-weight: 600;
            //     font-size: 1rem;
            //   }
            // }
            &.grandTotal{
              border-top: 1px solid $border-color;
              margin-top: 10px;
              padding-top: 10px;
              p{
                color: $dark-black;
                font-weight: 600;
                font-size: 1rem;
              }
            }
          }
        }
      }
      .submit-order{
        .right{
          button{
            height: auto;
            width: auto;
            font-size: 12px;
            background: #f03f37;
            border: none;
            box-shadow: 0px 5px 23px rgba(0, 0, 0, 0.25);
            border-radius: 0;
            text-align: center;
            text-transform: uppercase;
            color: white;
            padding: 9px 18px;
            font-weight: 700;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}
.list-bullet {
  display: list-item !important;
}
.addOnList li {
  display: inline;;
}

.active-add {
  background: #5739b6;
  color: #ffffff;
}
.edit-active {
  color: #ffffff !important;
}
.btn-delivery{
  border-radius:0;
  padding: 5px 22px;
  font-weight: 600;
  letter-spacing: .2px;
  background: transparent;
  border: 1px solid #f03f37;
  color: #f03f37;
  min-height: 1px;
  font-size: 11px;
}
.added-items{
  border-bottom: 1px solid #efebeb;
}
.cart-list {
  width: 135px;
}
.inr-dec {
  width: 80px;
}
.item-cart {
  padding: 0 5px !important;
}
.title-description{
  p{
    font-size: 12px;
    font-weight: 600;
  }
}
.edit-option{
  position: absolute;
  right: 12px;
  top: 12px;
}
@media (max-width: 767px) {
.swiper-container{
    padding: 0;
  }
}
button:disabled, button:disabled:hover {
  background: gray;
  border: none;
}
.main-view{
  min-width: 65%;
}
@media (max-width:1199px){
  .wrapper .wrapper-content .web-view .main-view ol.steps li .item .section-title .head button{
    padding: 12px 7px;
    background: #f03f37;
    border-color: #f03f37;
    color: #ffffff;
    font-size: 14px;
  }
}
@media (max-width:325px){
  .item-cart{
    font-size: 13px;
    margin: auto;
  }
}
@media (max-width: 991px){
  .web-view{
    display: none;
  }
  .mobile-view{
    display: block;
  }
}
@media (min-width: 991px){
  .web-view{
    display: block;
  }
  .mobile-view{
    display: none;
  }
}
.donate{
  background: #e1e1e1;
  border: 0;
  height: 37px;
  font-size: 13px;
  padding: 10px;
  min-width: 177px;
  display: none;
}
.mobsearch{
  background: #e1e1e1;
  border: 0;
  height: 37px;
  font-size: 13px;
  padding: 10px;
  min-width: 177px;
}
@media (max-width:1029){
  .donate{
    background: #e1e1e1;
    border: 0;
    height: 37px;
    width: 114px;
    text-align: center;
    font-size: 13px;
}
.submit-btn{
  background: #f03f37;
  border: 0;
  text-align: center;
  border-radius: 0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 7px;
  height: 37px;
}
}
.steps li.active .donate-content,.steps li.active .donate {
  display: block;
}
.code p{
  padding: 8px 9px;
  border: 1px dashed #f03f37;
    text-align: center;
    color: #f03f37 !important;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0
}
.code1 p{
  font-size: 13px;
  color: #f03f37 !important;
  font-weight: 600;
  margin-bottom: 0;
}
.code1{
  border: 1px solid #f03f37;
  padding: 6px 5px;
  text-align: center;
}
.skip{
  color: #595959;
  font-size: 13px;
  border: 1px solid;
  padding: 3px 15px;
  border-radius: 20px;
}
.donation-row .card{
  margin-bottom:10px;
}
.submit-btn{
  background: #f03f37;
  border: 0;
  text-align: center;
  border-radius: 0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 11px;
  height: 37px;
}
.donation-row{
  .col-md-6{
    max-width: 50%;
  }
}
.donation-row .card {
  overflow: hidden;
}
.donation-row{

  position: relative;
}
.charity-swiper{
  margin-left: 30px;
  margin-right: 30px;
}
// .web-donate{
//   margin-right: 8px !important;
// }
.donation-row .card .card-body{

  min-width: 150px;
  margin: 0;
  padding: 0;

  overflow: hidden;
  min-height: 165px;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  }
  @media (max-width:1279px){
    .donation-row .card {
      overflow: hidden;
    }
    .donation-row .card .card-body{
      display: flex;
      min-width: 100%;
      margin: 0;
      padding: 0;
      // min-height: 137px;
      // max-height: 137px;
      overflow: hidden;
      }
      .code-row{
        display: unset;   
      }
  }
  @media (max-width:1199px){
    
    .donation-row .card .card-body{
      display: flex;
      min-width: 100%;
      margin: 0;
      padding: 0;
      min-height: 130px;
      // max-height: 137px;
      overflow: hidden;
      }
     
  }
  
  .title1 h6{
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 15px;
  }
  .mobile-view{
    .submit-btn{
      background: #f03f37;
      border: 0;
      text-align: center;
      border-radius: 0;
      color: white;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      padding: 11px;
      height: 37px;
    }
  }
  .mobile-view .donation-row .col-xs-6{
    width: 50%;
  }
  .mobile-view .donation-row .card .card-body{
    display: inline-flex; min-width: 140px;
    margin: 0;
    padding: 0;
    min-height: 140px;
    max-height: 140px;
  }
  .mobile-view  .code1 p{
    font-size: 12px;
    color: #f03f37 !important;
    font-weight: 600;
    margin-bottom: 0;
  }
  .mobile-view .donation-row{
    display: flex;;
    margin: 0px;
    overflow: auto;
  }
    .mobile-view .donation-row .mobile-donation{
      margin-right: 10px;
    }
    .mobile-view  .donate{
      background: #e1e1e1;
    border: 0;
    height: 37px;
    font-size: 13px;
  }
  @media (max-width:575px){
 
    .code1{
      border: 1px solid #f03f37;
      padding: 5px;
      text-align: center;
  }
  .code p{
    text-align: center;
    color: #f03f37 !important;
    font-size: 12px;
    font-weight: 600;
}
  .mobile-view .donatehead-row .col-xs-8{
    width: 70%;
  }
  .mobile-view .donatehead-row .col-xs-4{
    width: 30%;
  }
  .mobile-view .donation-row .card {
    min-width: 140px;
    overflow: hidden;
    max-width: 140px;
  }
  }
  .mobile-view .skip{
    color: #595959;
    font-size: 13px;
    border: 1px solid;
    padding: 2px 13px;
    border-radius: 20px;
}
  @media (max-width:320px){
    .mobile-view .donation-row .mobile-donation{
      width: 33%;
      margin-right: 52px;
    }
    .mobile-view  .donate{
      background: #e1e1e1;
      border: 0;
      height: 34px;   
  }
  .mobile-view .submit-btn{
    background: #f03f37;
    border: 0;
    text-align: center;
    border-radius: 0;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    padding: 11px;
    height: 34px;
}
.mobile-view .skip{
  color: #595959;
  font-size: 12px;
  border: 1px solid;
  padding: 2px 13px;
  border-radius: 20px;
}
}
.web-donate{
  margin-bottom: 10px;
}
.mobile-donation{
  margin-bottom: 5px;
}
.web-donate .ngo-name{
  font-size: 13px;
  line-height: 1.4;
  min-height: 40px;
  font-weight: 600;
}
.mobile-donation .ngo-name{
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 11px;
  min-height: 30px;
}
.donate-content{
  display: none;
}
.congo{
  border-top: 1px dashed #f03f37;
    border-bottom: 1px dashed #f03f37;
    font-size: 13px;
    line-height: 1.5;
    padding: 3px;
}
.congo1{
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.payment-sec-datail{
  display: none;
}
.donate-content .donation-row::-webkit-scrollbar{
  height: 10px;
}
.donate-content .donation-row::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.donate-content .donation-row::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}
.section-content1 .have-details{
  border: 1px solid #e9e9eb;
    padding: 1rem;
    margin-bottom: 10px;
    width: 49%;
    transition: all ease-in-out 0.3s;
    position: relative;
    margin-top: 10px;
}
.section-content1 .have-details p{
  margin-bottom: 0;
  color: #999BA3;
  font-size: 12px;
}
.contri{
  border-top: 1px dashed #27a745;
    border-bottom: 1px dashed #27a745;
    line-height: 1.5;
    padding: 3px;
    margin-top: 10px;
}
.contri p{
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #27a745 !important;
}
.openmobiledonation i{
  position: absolute;
  right: 19px;
  font-size: 25px;
}
.openmobiledonation i{
  display: none;
}
.openwebdonation i{
  position: absolute;
  right: 19px;
  font-size: 25px;
  width: 28px;
  height: 28px;
  background: #f03f37;
  border-radius: 100px;
  color: white;
  padding: 6px;
  line-height: 17px;
}
.openwebdonation{
  z-index: 999;
}
.closewebdonation i{
  position: absolute;
  right: 19px;
  font-size: 25px;
  width: 28px;
  height: 28px;
  background: #f03f37;
  border-radius: 100px;
  color: white;
  padding: 7px;
  line-height: 12px;
}
.closewebdonation{
  display: none;
  z-index: 999;
}
.wrapper .wrapper-content .web-view .tipweb .add-tip  .ks-cboxtags div label{
  display: inline-block;
  border: 1px dashed #f03f37;
  color: #f03f37;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  padding: 0 10px;
}
.wrapper .wrapper-content .web-view .tipweb .add-tip{
  background: #F1EEF7;
  padding: 1rem;
  margin-bottom: 10px;
}
.wrapper .wrapper-content .web-view .tipweb .add-tip  .ks-cboxtags div label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "";
  transition: transform 0.3s ease-in-out;
}
.wrapper .wrapper-content .web-view .tipweb .add-tip  .ks-cboxtags div input[type=radio]:checked + label {
  border: 2px dashed #f03f37;
  background-color: #f03f37;
  color: #fff;
  transition: all 0.2s;
}
.wrapper .wrapper-content .web-view .tipweb .add-tip  .ks-cboxtags div input[type=radio]:checked + label::before {
  content: "";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}
.wrapper .wrapper-content .web-view .tipweb .add-tip  .ks-cboxtags div input[type=radio]{
  content: "";
  position: absolute;
  opacity: 0;

}
@media (max-width:1199px){
  .web-donate .ngo-name{
    font-size: 12px;
    line-height: 1.4;
    min-height: 36px;
    font-weight: 500;
}
}

 .tipweb .add-tip .ks-cboxtags {
  list-style: none;
  padding: 0px;
}
 .tipweb .add-tip .ks-cboxtags div {
  padding-left: unset;
  position: unset;
  padding-bottom: unset;
  counter-increment: unset;
  margin: 5px;
}
.add-tip
{
  display: none;
}
.mobile-view .add-tip
{
  display: block;
}
.slide-btn .swiper-button-next{
  width: 38px !important;
  height: 38px !important;
  background-size: 16px 36px !important;
  border-radius: 100px;
  background: #f03f37;
  right: -13px;
}
.donate-content{
  width: 100%;

}
.charity-swiper .swiper-slide{
  margin-left: 0px !important;
}
.slide-btn .swiper-button-prev{
  width: 38px !important;
  height: 38px !important;
  background-size: 16px 36px !important;
  border-radius: 100px;
  background: #f03f37;
  left: -13px;
}
.slide-btn .swiper-button-next i{
  padding: 14px;
  line-height: 10px;
  color: white;
  font-size: 15px;
}
.slide-btn .swiper-button-prev i{
  padding: 13px;
  line-height: 12px;
  color: white;
  font-size: 15px;
}
.piza-slide .swiper-button-next{
  width: 30px !important;
  height: 30px !important;
  background-size: 16px 36px !important;
  border-radius: 100px;
  background: #f03f37;
}
.piza-slide .swiper-button-prev{
  width: 30px !important;
  height: 30px !important;
  background-size: 16px 36px !important;
  border-radius: 100px;
  background: #f03f37;
}
.piza-slide .swiper-button-next i{
  padding: 11px;
  line-height: 7px;
  color: white;
  font-size: 15px;
}
.piza-slide .swiper-button-prev i{
  padding: 9px;
  line-height: 12px;
  color: white;
  font-size: 15px;
}
.cart-item p{
  font-weight: 500;
  line-height: 1.3;
  font-size: 13px;
}
.list-bullet strong{
  font-weight: 500;
  font-size: 13px;
}
.title-heading{
  font-size: 14px;
  font-weight: 600;
}
.web-down-arrow{
  position: absolute;
  top: 0;
  right: -6px;
  font-size: 25px;
  display: none;
  width: 28px;
  height: 28px;
  background: #f03f37;
  border-radius: 100px;
  color: white;
}

.web-up-arrow i{
  padding: 6px;
  line-height: 14px;
}
.web-down-arrow i{
  padding: 7px;
  line-height: 15px;
}
.web-up-arrow{
  position: absolute;
  top: 0;
  right: -6px;
  font-size: 25px;
  width: 28px;
  height: 28px;
  background: #f03f37;
  border-radius: 100px;
  color: white;
}
.openwebtip i{
  position: absolute;
  right: 19px;
  font-size: 25px;
  width: 28px;
  height: 28px;
  background: #f03f37;
  border-radius: 100px;
  color: white;
  padding: 7px;
  line-height: 15px;
}
.openwebpayment{
  position: absolute;
  top: 19px;
  right: 16px;
  font-size: 25px;
  width: 28px;
  height: 28px;
  background: #f03f37;
  border-radius: 100px;
  color: white;
}
.openwebpayment i{
  padding: 6px;
  line-height: 17px;
}
.closewebpayment{
  position: absolute;
  top: 19px;
  right: 16px;
  font-size: 25px;
  width: 28px;
  height: 28px;
  background: #f03f37;
  border-radius: 100px;
  color: white;
  display: none;
}
.closewebpayment i{
  padding: 6px;
  line-height: 14px;
}
.web-skip{
  position: absolute;
  right: 29px;
display: none;
}
@media (max-width: 300px) {
  .carosel-item {
    width: 100%;
  }
}
@media (min-width: 300px) {
  .carosel-item {
    width: 50%;
  }
}
@media (min-width: 500px) {

  .carosel-item {
    width: 33.333%;
  }
}
@media (min-width: 768px) {
  .carosel-item {
    width: 25%;
  }
}
.carosel {
  position: relative;
  background-color: #000;
}
.carosel-inner {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}
.carosel-item {
  display: inline-block;
}
.carosel-control {
  position: absolute;
  top: 50%;
  padding: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  display: inline-block;
}
.carosel-control-left {
  left: 15px;
}
.carosel-control-right {
  right: 15px;
}
.carosel-control:active,
.carosel-control:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.cost{
  font-size: 13px;
}
.ngoSection .cost{
  font-size: 14px;
  font-weight: 600;
}
.minicon {
  position: relative;
  margin-right: 9px;
}
.minicon:before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 12px;
  background-color: #bebfc5;
  position: absolute;
  top: -1px;
}

.iotnlist p{
  font-size: 13px;
}
.mobiotnlis{
  font-size: 12px !important;
}

.border-line1{
  border: 2px solid #f03f37;
  background: transparent;
  border-radius: 26px;
  border-style: dotted;
  color: #f03f37;
  width: 62px;

  display: flex;
  align-items: center;
  margin: 5px;
}
.border-line{
  background: #f03f37;
  border-radius: 26px;

  color: #fff;
  width: 62px;

  display: flex;
  align-items: center;
  margin: 5px;
}
.main-border{
  display: flex;
  background: #F1EEF7;
    padding: 1.2rem;
    margin-bottom: 10px;
}
.border-line i{
  margin: 5px;
}
.border-line1 i{
  margin: 5px;
}




#tabs h6.section-title{
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: #f3f3f3;
background-color: #4ab746;
border: 0;
font-size: 16px;
font-weight: bold;
border-radius: 4px;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #4ab746;
  font-size: 20px;
}
.asap-btn{
background: #4ab746;
width: 100%;
color: white;
font-weight: 600;
font-size: 16px;
text-transform: unset;
}
.nav-tabs {
border: 1px solid #4ab746;
border-radius: 4px;
}
.nav-tabs .nav-link:hover {
  border-color: none !important;
  background: #4ab746;
  color: white;
}
.shecdule-control {
cursor: pointer;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
box-shadow: none;
border: 1px solid #8f8fa1;
border-radius: 4px;
background: #fff;
color: #000;
line-height: 1!important;
padding: 12px;
transition: background .2s ease,border-color .2s ease;
width: 100%;

}
.slctbtn{
position: relative;
}
@media (min-width: 768px){
.shecdule {
  font-size: 14px;
  line-height: 1.45;
}
}
.nav-fill .nav-item {
padding: 9px;
-ms-flex: 1 1 auto;
flex: 1 1 auto;
text-align: center;
color: #4ab746;
font-weight: 600;
font-size: 15px;
}
.downi{
transition: color 0.1s ease;
color: #444444;
right: 16px;
pointer-events: none;
position: absolute;
font-size: 24px;
top: 8px;
}
.close-btn {
width: 30px;
height: 30px;
background: #4ab746;
border-radius: 100px;
color: white;
padding: 7px;
}
.close-btn .close{
color: white;
line-height: .6;
}
#shecdule1 .modal-dialog{
min-height: calc(100vh - 60px);
display: flex;
flex-direction: column;
justify-content: center;
overflow: auto;
}
.mobile-view
  .asap-btn{
    background: #4ab746;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-transform: unset;
    padding: 9px;
  }

.mobile-view
  .nav-fill .nav-item{
    padding: 8px;
  }

  .mobile-view #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: #4ab746;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    }
    .webasap{
      background-color: #4ab746;
      color: white;
    }
    .asap{
      font-weight: 500;
      font-size: 13px;
    }
    .dlvrytym{
      font-size: 15px;
    }
    .mobile-view .card-header{
      background: transparent;
    }
    // .mobile-view #accordion .card{
    //   border: 2px dotted #4ab746;
    // }
    .mobile-view #accordion .card-header{
      border: 0;
    }
    .dish-image{
      min-height: 90px;
      max-height: 90px;
      overflow: hidden;
      
    }
    .swipbtn{
      padding: 0 !important;
    min-height: 35px;
    font-size: 12px;
    font-weight: 600;

    }
    @media (max-width:375px){
      .wrapper .wrapper-content .mobile-view .add-tip ul.ks-cboxtags li label{
        display: inline-block;
        border: 1px dashed #f03f37;
        color: #f03f37;
        border-radius: 25px;
        white-space: nowrap;
        margin: 3px 0px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        transition: all 0.2s;
        cursor: pointer;
        width: 100%;
        text-align: center;
        font-size: 12px;
        padding: 0px 6px;
    }
    }
    @media (max-width:320px){
      .wrapper .wrapper-content .mobile-view .add-tip ul.ks-cboxtags li label{
        padding: 0px 6px;}
    }
    .mob-text{
    height: 20px;
    }
@media (max-width:575px){
  .crdfrm .col-sm-6{
    width: 50%;
  }
  .crdfrm .col-sm-4{
    width: 33%;
  }

}

  //   .modal.show .modal-dialog {
  //     -webkit-transform: none;
  //     transform: none;
  //     max-height: 700px;
  //     overflow: auto;
  // }
  .code-row .code .active{
    padding: 8px 9px !important;
    border: 1px dashed #27a745;
    text-align: center;
    color: #ffffff !important;
    background: #27a745;
  }
.clsbtn{
  position: absolute;
  width: 30px !important;
  min-height: 30px !important;
  background: #ff0000c9;
  border-radius: 100px;
  top: 12px;
  right: 15px;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crdfrm input{
  font-size: 15px;
  min-height: unset !important;
}
.fa-minus-square{
  font-size: 17px;
}
.fa-plus-square{
  font-size: 17px;
}
.mobtel{
  font-size: 15px;
  min-height: unset !important;
}
.crdfrm .form-group{
  margin-bottom: 11px !important;
}
.crdform{
  margin-bottom: 11px !important;
}
.mobile-view{
  .title{
    h6{
      font-size: 13px;
      font-weight: 800;
      line-height: normal;  
    }
  }
}

@media (max-width: 767px){
  .restaurant-info,
  .scheduled-food,
  .food-added-item,
  .give-tip,
  .apply-coupon,
  .bill-details,
  .delivery-address,
  .table-book,
  .choose-organization,
  .payment-method{
    background: #fff;
    margin-bottom: 8px;
  }
  .similar-items{
    margin-bottom: 8px;
  }
  .suggestion-box, .table-book{
    textarea, .form-control{
      font-size: .8rem;
      padding: 5px 0;
      outline: 0;
      resize: none;
      white-space: nowrap;
      overflow: auto;
      caret-color: #fc8019;
      font-weight: 400;
      border: 0;
      height: auto;
      min-height: 1px;
      position: relative;
    }
  }
}